# This service is actually a systemd target,
# but we are using a service since targets cannot be reloaded.

[Unit]
Description=PPTP service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pon server.conf
ExecReload=/bin/true
WorkingDirectory=/etc/ppp/peers

[Install]
WantedBy=multi-user.target


