.header{
	position:relative;
	height:50px;
	background-color: #E6E6E6;
	color:black;
	text-align:center;
	vertical-align: middle;
	padding:0px;
	z-index: 1;
}

.screenoverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    opacity: 1;
    transition: opacity 2s linear;
        display:none;
}

#VPNChangeMessage {
    width: 400px;
    height: 150px;
    line-height: 20px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}

#IPInfoBox {
    width: 440px;
    height: 335px;
    line-height: 20px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -150px;
    margin-left: -220px;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 50%;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}

#IPInfoBoxTitle{
    text-align:center;
}

#ButtonContainer {
        text-align: center;
}
#IPInfoBoxTableContainer {
        width: 90%;
        text-align: left;
        height: 200px;
        margin-left: 5%;
	margin-top:50px;
}

#IPLocationTable {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
}
#IPLocationTable tr {
}
#IPLocationTable td{
        padding-left: 10px;
        font-family:"Arial";
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;

}
#IPLocationTable tr:nth-child(even) {
        background: #E6E6E6
}
#IPLocationTable tr:nth-child(odd) {
        background: #FFF
}

#ButtonSpacer {
        height: 20px;
}
.ButtonSpacer{
	height: 20px;
}

#TracerouteInfoBox {
    width: 800px;
    height: 400px;
    line-height: 20px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 50%;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}
#SyslogInfoBox {
    width: 100%;
    height:100vh;
    line-height: 20px;
    position: fixed;
    top: 0%; 
    left: 0%;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 50%;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
}


#TracerouteInfoBoxTitle{
    text-align:center;
}

#SyslogInfoBoxTitle{
    text-align:center;
}

#TracerouteInfoContainer {
        width: 90%;
        text-align: left;
        height: 300px;
        margin-left: 5%;
	overflow:auto;
}


#SyslogInfoContainer {
        width: 90%;
        text-align: left;
        height: 80%;
        margin-left: 5%;
	margin-bottom:100px;
	overflow:auto;
}

#SyslogText{
	font-family:"Courier";
	line-height:100%;
}

#TracerouteText{
	font-family:"Courier";
	line-height:100%;
}

#ShutdownInfoBox {
    width: 400px;
    height: 250px;
    line-height: 50px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -125px;
    margin-left: -200px;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 50%;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
/*    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
*/

}

#ShutdownInfoBoxTitle{
    text-align:center;
}

#ShutdownInfoContainer {
        width: 90%;
	line-height:150%;
        text-align: left;
        height: 125px;
        margin-left: 5%;
	overflow:auto;
}

#ShutdownButtonTable {
    width: 100%;
    table-layout: fixed;
    text-align: center;
	margin-bottom: 20px;
}

#RebootInfoBox {
    width: 400px;
    height: 250px;
    line-height: 50px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -125px;
    margin-left: -200px;
    background-color: #FFFFFF;
    border-radius: 5px;
    line-height: 50%;
    text-align: left;
    z-index: 11; /* 1px higher than the overlay layer */
/*    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
*/

}

#RebootInfoBoxTitle{
    text-align:center;
}

#RebootInfoContainer {
        width: 90%;
        line-height:150%;
        text-align: left;
        height: 125px;
        margin-left: 5%;
        overflow:auto;
}

#RebootButtonTable {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    margin-bottom: 20px;
}

#MainContainer{
	width: 100%;
	height:auto;
	overflow:hidden;
	margin-top:10px;
}

#PageContainer{
	float: right;
	margin-left: 10px;
	width:83%
}

#NavigationMenu{
height: 100%;
width:15%;
float: left;
margin-bottom:-5000px;
padding-bottom:5000px;
background-color: #E6E6E6;

}
.menubuttonspacer {
	height:20px;
}
.menubutton {
	width: 100%;
	vertical-align: middle;
	padding-left: 10px;
	font-family: "Arial";
	background-color: #CCCCCC;
}

.buttonmenu ul {
margin: 0;
padding: 0;
width:100%;
float:left;
height: 100%;
list-style-type: none;
}

.buttonmenu ul li a {
text-decoration: none;
color: white;
padding: 10.5px 11px;
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
background-color: #4C4C4C;
font-family:"Arial";
display:block;
}

.buttonmenu ul li a:visited {
color: white;
}
 
.buttonmenu ul li a:hover, #NavigationMenu ul li .current {
color: white;
border-style:solid;
border-color:white;
border-width:2px;
}

h1 {
	position:relative;
	padding-top:5px;
	padding-left:5px;
	margin-top: 0px;
	vertical-align: middle;
	font-family: "Arial";
	z-index:2;
}



h2 {
	font-family: "Arial";
}
p {
	font-family: "Arial";
	font-size: 20px;
}
h3 {
	font-family: "Arial";
}

#CurrentVPNSection {
	padding-top: 5px;
	padding-bottom:5px;
/*	border-style: solid;
        border-width: 1px;
        border-color: green;
*/
/*	margin-top:0;
*/
	width: 100%;
	background-color: #E6E6E6;
	
}


#CurrentVPNFlag table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

#CurrentVPNFlag td{
        border-style: none;
        vertical-align:top;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
}

#CurrentVPNFlag p{
margin-top: 0;
margin-bottom: 10;
}

#CurrentVPNFlag a{
margin-top: 0;
margin-bottom: 0;
}


#CurrentVPNSection H2{
	padding-top:10px;
	padding-left: 10px;
	margin-top:0;
}
#NewVPNSection H2{
	padding-left:10px;
	padding-top:10px;
	margin-top:0;
 	border-style: solid;
	border-width: 1px;
	border-color: red;


}

#VPNChooser {
	width:100%;
	margin-top: 0px;
	padding-bottom:5px;
	background-color: #E6E6E6;

}

#VPNChooser h2{
	padding-left:10px;
	padding-top:10px;
}


.ChoicesTable{
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.ChoicesTable td{
vertical-align:top;
margin-top: 0;
margin-bottom: 0;
border-width: 0;
height: 100px;
padding: 0;
}
.ChoicesTable p{
margin-top: 0;
margin-bottom: 10;
}
.ChoicesTable a{
margin-top: 0;
margin-bottom: 0;
}

#ChooseVPNAdvanced{
padding-left: 10px;
display:none;
}

#ChooseVPNAdvanced p{
padding-left: 70px;
}


#Tools{
display:none;
height:100vh;
	background-color: #E6E6E6;
}

#Tools h2{
	padding-left:10px;
	padding-top:10px;
	margin-top:0;
}


#ToolsMenu{
height: 100%;
width:98%;
margin-left:1%;
padding-top:10px;
}

#AdminMenu{
height: 100%;
width:98%;
margin-left:1%;
padding-top:10px;
}

#Admin{
display:none;
height:100vh;
	background-color: #E6E6E6;
}

#Admin h2{
	padding-left:10px;
	padding-top:10px;
	margin-top:0;

}


footer{
	margin-top: 10px;
	position:relative;
	height:50px;
	background-color: #E6E6E6;
	color:black;
	text-align:center;
	vertical-align: middle;
	padding:0px;
	z-index: 1;
}

#OpenVPNLogo {
        position:relative;
        float: right;
        width: 181px;
        height: 47px;
        z-index: 99;
}

