[Unit]
Description = VPN Client Gateway
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/vpncgw/vpncgw.pid
User = www-data
Group = www-data
WorkingDirectory = /opt/vpncgw
ExecStartPre = /bin/mkdir /run/vpncgw
ExecStartPre = /bin/chown -R www-data:www-data /run/vpncgw
ExecStart = /usr/bin/env gunicorn3 vpncgw:application --worker-class eventlet --timeout 30 -w 1 --threads 12 -b 0.0.0.0:8000 --pid /run/vpncgw/vpncgw.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/vpncgw
PrivateTmp = true

[Install]
WantedBy = multi-user.target
